@import "var";
@import "icomoon";
@import "~bootstrap/scss/bootstrap";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

#form-container {
  background-color: $primary;
  padding: 4rem 0;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  border-radius: 0;
}
.form-control:focus {
  background-color: $primary;
  border-bottom: 2px solid $white;
}

header {
  height: 417px;
  background-image: url("img/ecommerceSolidaireFOP.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #60B4D8;
  background-position: top;
}

#teams .row > * {
  border: 1rem solid $primary;
  padding: 0.5rem;
  text-decoration: none;
  background: $primary;
  color: $white;
  transition : border 100ms;
}
#teams .row > a:hover {
  border-color: $white;
}
#teams .row > *:nth-child(2n) {
  border-color: $white;
  background: $white;
  color: $primary;
}
#teams .row > a:nth-child(2n):hover {
  border-color: $primary;
}

#app {
  overflow-x: hidden;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }

  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (100%: 100, auto: auto) {
      .mw#{$infix}-#{$abbrev} {
        max-width: #{$prop} !important;
      }
      .mh#{$infix}-#{$abbrev} {
        max-height: #{$prop} !important;
      }
    }
  }
}

#sponsors img {
  height: 50px !important;
}