@import "var";
@import "icomoon";
@import "~bootstrap/scss/bootstrap";
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300,700&family=Public+Sans:ital,wght@0,200;0,400;0,700;1,700&family=Raleway:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap");
@font-face {
  font-family: "north_avellionregular";
  src: url("fonts/north_avellion-webfont.woff2") format("woff2"),
    url("fonts/north_avellion-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rankings_capsregular";
  src: url("fonts/rankings_caps-webfont.woff2") format("woff2"),
    url("fonts/rankings_caps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h5 {
  font-family: "rankings_capsregular";
}
#form-container {
  background-color: $primary;
  padding: 4rem 0;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  border-radius: 0;
}
.form-control:focus {
  background-color: $primary;
  border-bottom: 2px solid $white;
}
header {
  background-color: $info;
  > div {
    min-height: 390px;
    div {
      z-index: 200;
    }
    &:before,
    &:after {
      content: "";
      display: block;

      position: absolute;

      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;

      background-size: 23%;
    }
    &:before {
      top: -20px;
      background-image: url("img/main.svg");
      background-position: top left;
    }
    &:after {
      bottom: -60px;
      background-image: url("img/main2.svg");
      background-position: bottom left;
    }

    h2 {
      font-family: "rankings_capsregular";
      color: $body-bg;

      font-size: 2.5rem;

      span {
        font-family: "north_avellionregular";
        font-size: 3em;
        line-height: 3.3rem;

        display: inline-block;
        @include media-breakpoint-down(xs) {
          padding-bottom: 0px;
        }
      }
      background-image: url("img/preston.svg");
      background-position: right top;
      padding-right: 45px;
      padding-top: 5px;
      background-repeat: no-repeat;
      background-size: 10%;
      @include media-breakpoint-down(xs) {
        font-size: 1.5rem;
        padding-right: 25px;
      }
    }
  }
}

#teams .row > * {
  border: 1rem solid $primary;
  padding: 0.5rem;
  text-decoration: none;
  background: $primary;
  color: $white;
  transition: border 100ms;
}
#teams .row > a:hover {
  border-color: $white;
}
#teams .row > *:nth-child(2n) {
  border-color: $white;
  background: $white;
  color: $primary;
}
#teams .row > a:nth-child(2n):hover {
  border-color: $primary;
}

#app {
  overflow-x: hidden;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }

  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (100%: 100, auto: auto) {
      .mw#{$infix}-#{$abbrev} {
        max-width: #{$prop} !important;
      }
      .mh#{$infix}-#{$abbrev} {
        max-height: #{$prop} !important;
      }
    }
  }
}

#sponsors img {
  height: 50px !important;
}

.text-blue {
  color: #60b4d8;
}
