@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?nienar");
  src: url("fonts/icomoon.eot?nienar#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?nienar") format("truetype"),
    url("fonts/icomoon.woff?nienar") format("woff"),
    url("fonts/icomoon.svg?nienar#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.icons-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}

.icons-stack-1x,
.icons-stack-2x,
.icons-stacks-3x,
.icons-stacks-4x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icons-stack-1x {
  line-height: inherit;
}
.icons-stack-2x {
  font-size: 2em;
}
.icons-stack-2-5x {
  font-size: 2.5em;
}
.icons-stack-3x {
  font-size: 3em;
}
.icons-stack-4x {
  font-size: 4em;
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-circle:before {
  content: "\f111";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
